<div>
<h1>Users</h1>

<% @users.each do |user| %>
    <p><%= link_to user.name, user_path( user.id ) %></p>

<% end %>
<<<<<<< HEAD

<%= link_to "[New User]", new_user_path %>
=======
</div>
>>>>>>> 77725e4f6f183e4953ba5715d75ecc719ec10eeb
