/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #8EA5BD;
  color: #000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }

body a {
  color: #fff;
}



.profile img {
  border-radius: 50%;
  width: 300px;
  max-height: auto;
  border: 3px solid grey;
  position: center;
  margin: 40px;
  padding: 20px;

}

.profile {
  border: 3px solid grey;
  max-width: 400px;
  border-radius: 5px;
  position: center;
  justify-content: center;
  align-items: center;
  position: center;
  float: 0;
  margin: auto;
  background-color: #F2FFFF;
}
